@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: #204051;
  background-color: #fff;
  font-size: 14px;
}

.post h1 {
  margin: 0;
  font-size: 1.5em;
}
.post p {
  line-height: 1.5em;
}
